namespace {{SolutionName}}.Modules.{{ModuleName}}.Core.Domain;

public class {{Entity}}
{
    public Guid Id { get; set; }
{{EntityProperties}}
    public DateTimeOffset CreatedAt { get; set; }
    public DateTimeOffset UpdatedAt { get; set; }
}
