global using Xunit;
global using Microsoft.EntityFrameworkCore;
global using Microsoft.Extensions.DependencyInjection;
global using Testcontainers.PostgreSql;
global using {{SolutionName}}.Modules.{{ModuleName}}.Core.Domain;
global using {{SolutionName}}.Modules.{{ModuleName}}.Infrastructure.Persistence;
global using {{SolutionName}}.Modules.{{ModuleName}}.Infrastructure.Repositories;
global using {{SolutionName}}.Modules.{{ModuleName}}.Tests.Integration.Fixtures;
