<Solution>
  <Folder Name="/src/" />
  <Folder Name="/src/Api/">
    <Project Path="src/Api/{{SolutionName}}.Api/{{SolutionName}}.Api.csproj" />
  </Folder>
  <Folder Name="/src/Modules/" />
  <Folder Name="/src/Shared/">
    <Project Path="src/Shared/{{SolutionName}}.Shared.Abstraction/{{SolutionName}}.Shared.Abstraction.csproj" />
    <Project Path="src/Shared/{{SolutionName}}.Shared.Infrastructure/{{SolutionName}}.Shared.Infrastructure.csproj" />
  </Folder>
  <Folder Name="/tests/" />
</Solution>
